@namespace DeskHelper.Blazor.Components.ComputerDetails

@inherits ComponentBase

<div class="card shadow fade-slide-in">
    <h2 class="card-header">
        Computer details
    </h2>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="list-group">
                    <div class="list-group-item shadow-sm">
                        <h5 class="mb-2">
                            Computer name
                        </h5>
                        <MonospaceText>
                            @InputComputerInfo.HostName
                        </MonospaceText>
                    </div>
                    <div class="list-group-item shadow-sm">
                        <h5 class="mb-2">
                            Domain name
                        </h5>
                        <MonospaceText>
                            @InputComputerInfo.ComputerDomainName
                        </MonospaceText>
                    </div>
                    <div class="list-group-item shadow-sm">
                        <h5 class="mb-2">
                            Domain joined
                        </h5>
                        <MonospaceText>
                            @InputComputerInfo.ComputerIsDomainJoined
                        </MonospaceText>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 pt-2 pt-md-0">
                <div class="list-group">
                    <div class="list-group-item shadow-sm">
                        <h5 class="mb-2">
                            Operating System
                        </h5>
                        @InputComputerInfo.OSInfo.OSName
                    </div>
                    <div class="list-group-item shadow-sm">
                        <h5 class="mb-2">
                            Version
                        </h5>
                        <MonospaceText>
                            @InputComputerInfo.OSInfo.OSVersion
                        </MonospaceText>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>